h1 {
  font-size: 2em;
}

h1>span {
  cursor: pointer;
}

footer>span {
  font-size: 1em;
}

.navbar-brand {
  margin-right: 0;
}


/* Sticky footer */

.wrapper {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

main {
  flex: 1;
}
