<div class="container mt-2">
  <div class="row">
    <!-- Title -->
    <div class="col-sm-12 col-lg-10">
      <h2 class="text-center text-lg-left">Sellers</h2>
    </div>
    <!-- Add sellers button -->
    <div class="col-sm-12 col-lg-2">
      <button type="button" class="btn btn-primary w-100" (click)="onAdd()">Add seller</button>
    </div>
  </div>
  <!-- List -->
  <div class="row mt-2">
    <div class="col">
      <table class="table table-hover">
        <thead>
          <tr>
            <th>#</th>
            <th>Name</th>
            <th>Category</th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let seller of sellers; let i = index" (click)="onRow(seller.id, $event)">
            <th>{{ seller.id }}</th>
            <td>{{ seller.name }}</td>
            <td>{{ seller.category }}</td>
            <td><button type="button" class="btn btn-primary w-100" (click)="onEdit(seller.id)">Edit</button></td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
<template ngbModalContainer></template>
